@import "variables";

@mixin flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin centerIt {
    text-align: center;
    margin: 0 auto;
}

@mixin basicImage {
    box-shadow: $box-shadow-dark;
    outline: solid 3px $prim-bg;
    border-radius: 5px;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

@mixin mainDivStyling {
    min-height: 100vh;
    // border-bottom: solid 3px rgba(255,255,255,.3);
    width: 1400px;
    max-width: 100%;
    margin: auto;
    @include flexBox;
    flex-direction: column;
}